package views

templ Home() {
	@Layout("gighub") {
		<div class="p-2">
			<div class="flex items-center align-middle">
				<img src="/assets/logo.svg" alt="gighub logo" class="w-16 h-16 mr-2"/>
				<div class="text-3xl font-bold text-pink-500">gighub</div>
			</div>
			<p class="italic text-sm text-gray-500">sounds good</p>
			<a href="/guestbook" class="text-indigo-600 hover:text-indigo-500">View Guestbook</a>
		</div>
	}
}