package views

templ Home() {
	@Layout("gighub") {
		<div>
			<p class="italic text-sm text-gray-500">sounds good</p>
			<a href="/guestbook" class="text-indigo-600 hover:text-indigo-500">View Guestbook</a>
		</div>
	}
}