package views

templ Home() {
<html>

<head>
	<script src="https://unpkg.com/htmx.org@2.0.4"></script>
	<link href="/assets/css/styles.css" rel="stylesheet" />
</head>

<body>
	<div class="flex items-center">
		<img src="/assets/logo.svg" alt="gighub logo" class="w-16 h-16 mr-2" />
		<div class="text-3xl font-bold text-pink-500">gighub</div>
	</div>

	<p>sounds good</p>
</body>

</html>
}